.label {
    font-size: var(--font-size-16);
    line-height: var(--line-height-24);
    color: var(--gray);
    font-weight: var(--font-weight-500);
}

.label.label-error {
    color: var(--danger);
}

.label.label-disabled {
    color: var(--disable);
}
